.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.pg-lg {
  padding-inline: var(--px-lg);
}

.container {
  --max-widht: 375px;
  width: min(var(--max-widht), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.even-colmns {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.grid {
  display: grid;
}

@media (width >= 80em) {
  .container {
    --max-widht: 80em;
  }

  .desktop-only {
    display: initial;
  }

  .even-colmns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
